/* SectionFive */

@media screen and (min-width: 769px) {
    .sectionFive {
        width: 100%;
        height: 60.5vh;
        display: flex;
        align-items: center;
        background-position: top;
        background-image: url("./sectionTwo.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 70px;
    }
}

@media screen and (max-width: 768px) {
    .sectionFive {
        width: 100%;
        height: 60.5vh;
        display: flex;
        align-items: center;
        background-position: top;
        background-image: url("./sectionTwo.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 70px;
    }
}

/* SectionFive-end */


/* SectionSix */

@media screen and (min-width: 769px) {
    .sectionSix {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pSix {
        width: 90%;
    }

    .imgSix {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .photoSix {
        margin-top: 30px;
        width: 100%;
        height: 45vh;
        display: flex;
        justify-content: space-between;
    }

    .photoSix div {
        width: 32%;
        height: 40vh;
    }

    .centerFour {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .centerFour-divOne {
        width: 47%;
        display: flex;
        flex-direction: column;
    }

    .centerFour-divTwo {
        width: 47%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .sectionSix {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pSix {
        width: 90%;
    }

    .imgSix {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .photoSix {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .photoSix div {
        width: 100%;
        margin-top: 20px;
        height: 40vh;
    }

    .centerFour {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .centerFour-divOne {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .centerFour-divTwo {
        width: 100%;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }
}

/* SectionSix-end */