.counter-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.counter-center h1 {
    margin-top: 20px;
    color: white;
    display: flex;
    text-align: center;
}

@media screen and (max-width: 768px) {
.counter-div {
    width: 51% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}
}
.dark {
    background-color:#0C4AA9;
}

.bot-50 {
    margin-bottom: 50px;
}
@media screen and (min-width: 769px) {
.counter-div {
    width: 20% ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
}
.counter-center .divss {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.counter-div h2 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: white;
    font-weight: 500;
}

.counter-div p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color:#2BB68F;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .counter-center .divss {
    justify-content: center;
    }

}