/* SectionThree*/
.a{
    display: contents;
        text-decoration: none;
}

/* SectionThree-end */


/* SectionFour */

@media screen and (min-width: 769px) {
    .sectionFour {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pFour {
        margin-top: 20px;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 2em;
        font-weight: 700;
        text-transform: none;
        font-style: normal;
        letter-spacing: 1px;
        text-decoration: none;
        line-height: 1.2em;
        color: #3E3E6A;
    }

    .sectionFour-center-center {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    

    .sectionFour-center-center div {
        margin-top: 30px;
        display: flex;
        align-items: end;
        width: 31%;
        box-shadow: 2px -1px 17px #1110103b;
        background-color: aliceblue;
        border-radius: 5px;
        height: 250px;
        
    }

    .sectionFour-center-center div .span {
        width: 89%;
        display: flex;
        margin-bottom: 24px;
        flex-direction: column;
        align-items: flex-end;
    }

    .but {
        border-radius: 4px;
        padding: 8px 17px;
        color: white;
        border: 1.5px solid white;
        background-color: #324254b0;
    }

    .div-center {
        width: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .div-center h1 {
        color: white;
        text-shadow: rgb(0 0 0) 0px 2px 12px;
        font-size: 25px;
        font-weight: 700;
        transition: .5s;
    }


    .top {
        margin-top: 30px;
    }

    .top-50 {
        margin-top: 50px;
    }

    .sectionFour-center-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }



}

@media screen and (max-width: 768px) {
    .sectionFour {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pFour {
        margin-top: 20px;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: none;
        font-style: normal;
        letter-spacing: 1px;
        text-decoration: none;
        line-height: 1.2em;
        color: #3E3E6A;
    }

    .sectionFour-center-center {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .sectionFour-center-center {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

    

    .sectionFour-center-center div {
        margin-top: 30px;
        display: flex;
        align-items: end;
        box-shadow: 2px -1px 17px #1110103b;
        background-color: aliceblue;
        border-radius: 5px;
        height: 250px;
        
    }

    .sectionFour-center-center div .span {
        width: 89%;
        display: flex;
        margin-bottom: 24px;
        flex-direction: column;
        align-items: flex-end;
    }

    .but {
        border-radius: 4px;
        padding: 8px 17px;
        color: white;
        border: 1.5px solid white;
        background-color: #324254b0;
    }

    .div-center {
        width: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .div-center h1 {
        color: white;
        text-shadow: rgb(0 0 0) 0px 2px 12px;
        font-size: 29px;
        font-weight: 700;
        transition: .5s;
    }


    .top {
        margin-top: 30px;
    }

    .top-50 {
        margin-top: 50px;
    }

    .sectionFour-center-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}

.div1 {
    background-image: url("https://www.koruhastanesi.com/images/haber/main/1642021203655408.jpg");
    background-size: cover;
    background-position: 50%;
}

.div2 {
    background-image: url("https://medipol.com.tr/medium/Faq-Image-1719-webp.vsf");
    background-size: cover;
    background-position: 50%;
}

.div3 {
    background-image: url("https://okanhastanesi.com.tr/upload/kategori/bobrek-nakli_20190225162319.png");
    background-size: cover;
    background-position: 50%;
}

.div4 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/Arm-Transplant-Surgery.jpg");
    background-size: cover;
    background-position: 50%;
}

.div5 {
    background-image: url("https://www.koruhastanesi.com/images/haber/main/boy-uzatma-ameliyati-nedir--4065.webp");
    background-size: cover;
    background-position: 50%;
}

.div6 {
    background-image: url("https://ik.imagekit.io/asm/Images/Articles/dil-kanseri-nedir-belirtileri-cesitleri-8944650.jpg?tr=w-630,h-420");
    background-size: cover;
    background-position: 50%;
}

.div7 {
    background-image: url("https://medipol.com.tr/medium/Faq-Image-1633-webp.vsf");
    background-size: cover;
    background-position: 50%;
}

.div8 {
    background-image: url("https://www.drsafiyeyilmaz.com/storage/images/contents/kornea-nakli-15.jpg");
    background-size: cover;
    background-position: 50%;
}

.div9 {
    background-image: url("https://umithastanesi.com.tr/uploads/unit/18-1630275859.jpeg");
    background-size: cover;
    background-position: 50%;
}

.div10 {
    background-image: url("https://rumelihospital.com.tr/wp-content/uploads/2021/09/meme-kanseri-ile-ilgili-sikca-sorulan-sorular-700x311.jpg");
    background-size: cover;
    background-position: 50%;
}

.div11 {
    background-image: url("https://www.koruhastanesi.com/images/haber/main/mide-kanseri-tedavisi-ve-belirtileri-3218.jpg");
    background-size: cover;
    background-position: 50%;
}

.div12 {
    background-image: url("https://profdrmuratarslan.com.tr/wp-content/uploads/2016/11/tup-bebek-tedavisi-740-520.jpg");
    background-size: cover;
    background-position: 50%;
}

.div13 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/Neurology.jpg");
    background-size: cover;
    background-position: 50%;
}

.div14 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/Neurosurgery.jpg");
    background-size: cover;
    background-position: 50%;
}

.div15 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/Orthopedics.jpg");
    background-size: cover;
    background-position: 50%;
}

.div16 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/Pancreatic-Cancer-Surgery.jpg");
    background-size: cover;
    background-position: 50%;
}

.div17 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/pelvis-ameliyati.jpg");
    background-size: cover;
    background-position: 50%;
}

.div18 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/prostat-ameliyati.jpg");
    background-size: cover;
    background-position: 50%;
}

.div19 {
    background-image: url("https://im.haberturk.com/l/2022/07/17/ver1673877867/3478047/jpg/640x360");
    background-size: cover;
    background-position: 50%;
}

.div20 {
    background-image: url("https://ozkandangroup.com/wp-content/uploads/2023/02/serebral-palsi.jpg");
    background-size: cover;
    background-position: 50%;
}

.div21 {
    background-image: url("https://www.necatienver.com.tr/storage/blog/ses-teli-yapisikligi-qoxxfpuu.png");
    background-size: cover;
    background-position: 50%;
}

.div22 {
    background-image: url("https://magnethastanesi.com.tr/wp-content/uploads/2023/01/Tiroid-Ameliyati.jpg.webp");
    background-size: cover;
    background-position: 50%;
}



/* SectionFour-end */